*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Poppins;
}
.flex{
    display: flex;
}
.name_btn{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    background-color: #182021;
    color: #D8D8D8;
    position: sticky;
    top: 0;
}

              /* form css  */
.form_popup{
    position: absolute;
    top: 10px;
    display: none;
    /* height: 100vh; */
    width: 100%;
    /* width: 100wh; */
     /* background: var(--background-f-2-f-5-f-7, #F2F5F7); */
     z-index: 1;
     
}
.main_popup_container{
    padding: 20px 10px;
    /* width: auto; */
    width: 577px;
    margin: auto;
    justify-content: center;
    border-radius: 10px;
border: 1px solid var(--elements-color-card-border-e-6-e-6-e-6, #E6E6E6);
background: var(--elements-color-card-color-ffffff, #FFF);
align-items: center;
/* height: 100vh; */
    /* Background: - #F2F5F7 */
    /* background: var(--background-f-2-f-5-f-7, #F2F5F7); */
}
.forms_main{
    gap: 14px;
    flex-direction: column;
    width: 513px;
    overflow: scroll;
    overflow-x: hidden;
    height: 100vh;

    /* padding: 32px; */
}
.experience_input{
    gap: 24px;
    /* width: 100%; */
}
.min_max{
    display: flex;
    align-items: end;
    width: 100%;
    gap: 24px;
}
.max{
    width: 100%;
}
.min{
    width: 100%;
}
.remote_loc{
    gap: 24px;
}
/* .salary{ */
    /* flex-direction: column; */
    /* gap: 24px; */
/* } */
.input_box{
    width: 100%;
    padding: 4px 12px;
    /* border-radius: 5px; */
    border-radius: 5px;
border: 1px solid var(--elements-color-card-border-e-6-e-6-e-6, #E6E6E6);
background: var(--elements-color-card-color-ffffff, #FFF);
}
.button{
    display: flex;
/* padding: 8px 16px; */
justify-content: space-around;
}
.btn{
    width: auto;
    height: 40px;
    padding: 8px 16px;
    border-radius: 6px;
    background: #1597E4;
    border: none;
    
    /* shadow/sm */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: var(--white, #FFF);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */

}
.lab_input{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.form_head{
    color: var(--dark-dark-1, #182021);

/* xl-Heading-R */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */

}
.labels{
    color: var(--font-dark-212121, #212121);

/* sm-Label-M */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}
span{
    /* color: #1597E4; */
    color: #D86161;
}
.radio_btn{
    display: flex;
    gap: 16px;
}
.radio_label{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
}
.radio_label_input{
    display: inline-flex;
    gap: 4px;
    align-items: center;

}
#contactChoice1{
    color: #D8D8D8;
}
#contactChoice2{
    color: #D8D8D8;
}

.labels_radio{
    color: var(--font-grey-27-a-7-a-7-a, #7A7A7A);

/* sm-Placeholder-R */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

/* form css end */

/* cards css  */

.main_card{

display: flex;
/* flex-direction: column; */
gap: 8px;
border-radius: 10px;
border: 1px solid #DADEDF;
background: var(--elements-color-card-color-ffffff, #FFF);
padding: 16px 24px;
/* gap: 10px; */
}
.card_container{
    padding: 16px 24px;
    border-radius: 10px;
border: 1px solid #DADEDF;
background: var(--elements-color-card-color-ffffff, #FFF);
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 15px;
background: var(--tags-expired-d-8-d-8-d-8, #D8D8D8);

}
.content_cards{
    flex-direction: column;
    gap: 24px;
}
.content_sec_divs{
    flex-direction: column;
    gap: 8px;
}

.show {
    display: block;
}
.hide {
    display: none;
}

.card_btn{
    border-radius: 6px;
background: #1597E4;
border: none;

/* shadow/sm */
box-shadow: 0px 1px 2px 0px rgba(249, 247, 247, 0.05);
padding: 8px 16px;
color: var(--white, #FFF);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}

.header_datas{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.add_new_card{
    border-radius: 6px;
    background: #1597E4;
    border: none;
    
    /* shadow/sm */
    box-shadow: 0px 1px 2px 0px rgba(249, 247, 247, 0.05);
    padding: 8px 16px;
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}


.error{
    color: red;
    font-family: Poppins;
    font-size: 12px;
    /* font-weight: 100; */
}

.third_data{
    color: #646464;

/* Base-Body,Description-R */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}